.signup-page{
    margin-top: 100px;
    text-align: center;
    margin-right: 30%;
}
.signup-form{
    margin: 10px;
}
.input-field{
margin: 10px;
}
.form-field .emial-lable{
    margin-right: 30px;
}
.input-field{
    margin: 10px;
}
.submit-btn{
    margin-left: 190px;
}